<hr>
<!-- CONTACT -->
<div class="page-section" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h4 class="widget-title">PLACE TO TALK WITH ME</h4>
      <p [innerHtml]="homeContent?.talkWithMe"></p>
    </div>
  </div>
  <div class="row">
    <form (ngSubmit)="onSubmit(fm)" #fm="ngForm"  method="post" class="contact-form">
      <fieldset class="col-md-4 col-sm-6">
        <input ngModel name="senderName" type="text" id="your-name" placeholder="Your Name...">
      </fieldset>
      <fieldset class="col-md-4 col-sm-6">
        <input ngModel name="senderEmail" type="email" id="email" placeholder="Your Email...">
      </fieldset>
      <fieldset class="col-md-4 col-sm-12">
        <input ngModel name="senderSubject" type="text" id="your-subject" placeholder="Subject...">
      </fieldset>
      <fieldset class="col-md-12 col-sm-12">
        <textarea ngModel name="senderMsg" id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
      </fieldset>
      <fieldset class="col-md-12 col-sm-12">
        <input (click)="sendBtn()" type="button" class="button big default" value="Send Message">
        <input type="submit" id="visitor-msg-submit" style="display: none">
      </fieldset>
    </form>
  </div> <!-- .contact-form -->
</div>
<hr>

<div class="row" id="footer">
  <div class="col-md-12 text-center">
    <p class="copyright-text">&copy; 2018 Tanvir Sarker</p>
  </div>
</div>

<div style="display: none;" class="" id="captcha-modal">
  <div>
    <div class="form-group text-center text-primary">
      <div class="h1">5 + 5</div>
      <input class="form-control center-block" type="text" style="width: 100px">
      <br>
      <button class="btn btn-lg btn-danger" type="button" >Check</button>
    </div>
  </div>
</div>
