
<div class="banner-bg hobby-banner-bg" id="top">
  <div class="banner-overlay">
  </div>
  <div class="welcome-text hobby-welcome-text">
    <h2><span>Tanvir Sarker</span> | Hobby</h2>
    <h5>
      <a routerLink="/video" data-placement="top" data-toggle="tooltip" title="Video making" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-file-video-o" aria-hidden="true"></i> Video Making</a>
      <a routerLink="/graphics" data-placement="top" data-toggle="tooltip" title="Graphics Design. making with PhotoShop" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-picture-o" aria-hidden="true"></i> Graphics</a>
      <a data-izimodal-open=".under-cons" data-placement="top" data-toggle="tooltip" title="" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-microphone" aria-hidden="true"></i> Singing</a>
      <a data-izimodal-open=".under-cons" data-placement="top" data-toggle="tooltip" title="" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-paint-brush" aria-hidden="true"></i> Drawing</a>
      <a data-izimodal-open=".under-cons" data-placement="top" data-toggle="tooltip" title="" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-book" aria-hidden="true"></i> Learning </a>
    </h5>

  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="fluid-container">

    <div class="content-wrapper">

      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">Learn About Me</h4>
            <div class="about-image">
              <img src="assets/img/hobby/hobby_pro_pic.jpg" alt="about me">
            </div>
            <p [innerHtml]="hobbyContent?.aboutMe"></p>
            <hr>
          </div>
        </div> <!-- #about -->
      </div>

      <!-- PROJECTS -->
      <div class="page-section" id="projects">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">PHOTOS OF WHAT I DO</h4>
            <p [innerHtml]="hobbyContent?.what_iDo"></p>
          </div>
        </div>
        <div class="row projects-holder">
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/angular-card.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/laravel-logo.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/codeigniter.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/threeJS.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/python-django.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/phooshop.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .projects-holder -->
      </div>

      <app-contact></app-contact>

    </div>

  </div>
</div>
