<test></test>

<div class="banner-bg threeD-banner-bg" id="top" @fade>
  <div class="banner-overlay">
    <div>
      <iframe src="http://tanvirpro.com/all_project/3D/washingMechine/" width="100%" height="100%">

      </iframe>
    </div>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content" @fade>
  <div class="fluid-container">

    <div class="content-wrapper">

      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">LEARN ABOUT THE PROJECT</h4>
            <div class="about-image">
              <img src="assets/img/washing.jpg" alt="about me">
            </div>
            <p [innerHtml]="washingContent?.aboutMe"></p>
            <hr>
          </div>
        </div> <!-- #about -->
      </div>

      <!-- PROJECTS -->
      <div class="page-section" id="projects">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">PHOTOS OF WHAT I AM DOING IN THIS PROJECT</h4>
            <p [innerHtml]="washingContent?.what_iDo"></p>
          </div>
        </div>
        <div class="row projects-holder">
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d1.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d2.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d3.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d4.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d5.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/w3d6.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">{{ threeDImgHead }}</a></h5>
                  <p>{{ threeDImgBody }}</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .projects-holder -->
      </div>

      <app-contact></app-contact>

    </div>

  </div>
</div>
<a target="_blank" href="http://tanvirpro.com/all_project/3D/washingMechine/">
  <div class="bottom-btn text-center"><i class="fa fa-th-list"></i> <div>Large View</div></div>
</a>
