<test></test>

<div class="banner-bg twoD-banner-bg" id="top">
  <div class="banner-overlay"></div>
  <div class="welcome-text">
    <h2><span>2D Graphics Programing</span> | JS | WebGL | PixiJS </h2>
    <h5>
      <a routerLink="/twoD-sweetDreams" data-toggle="tooltip" title="2D Graphics Animation. Pure JavaScript" class="btn btn-lg btn-default">
        <i class="fa fa-square-o" aria-hidden="true"></i> 2D Sweet Dreams | PureJS</a>
      <a data-toggle="tooltip" data-izimodal-open=".under-cons" title=" 2D Graphics Animation. Build with WebGL | pixiJS" class="btn btn-lg btn-default"><i class="fa fa-square-o" aria-hidden="true"></i> PixiJS</a>
    </h5>

  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="fluid-container">

    <div class="content-wrapper">

      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">LEARN ABOUT THE SECTION</h4>
            <div class="about-image">
              <img src="assets/img/twoD/banner-2d.jpg" alt="about me">
            </div>
            <p [innerHtml]="twoDContent?.aboutMe"></p>
            <hr>
          </div>
        </div> <!-- #about -->
      </div>

      <!-- PROJECTS -->
      <div class="page-section" id="projects">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">PHOTOS OF WHAT POSSIBLE IN THIS SECTION</h4>
            <p [innerHtml]="twoDContent?.what_iDo"></p>
          </div>
        </div>
        <div class="row projects-holder">
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two1.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two2.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two3.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two4.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two5.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/twoD/two6.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .projects-holder -->
      </div>

      <app-contact></app-contact>

    </div>

  </div>
</div>
