<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="responsive-header visible-xs visible-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-section">
          <div class="profile-image">
            <img src="assets/img/profile.jpg" alt="Volton">
          </div>
          <div class="profile-content">
            <h3 class="profile-title">Volton</h3>
            <p class="profile-description">Digital Photographer</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
    <div class="main-navigation responsive-menu">
      <ul class="navigation">
        <li><a href="#top"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#about"><i class="fa fa-user"></i>About Me</a></li>
        <li><a href="#projects"><i class="fa fa-newspaper-o"></i>My Gallery</a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i>Contact Me</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar-menu hidden-xs hidden-sm">
  <div class="top-section">
    <a routerLink="/">
      <div class="profile-image">
        <img src="assets/img/profile.jpg" alt="Volton">
      </div>
    </a>
    <h3 class="profile-title">Tanvir Sarker</h3>
    <p class="profile-description">Web App Developer</p>
  </div> <!-- top-section -->
  <div class="main-navigation">
    <ul class="navigation">
      <li><a href="#top"><i class="fa fa-globe"></i>Project View</a></li>
      <li><a href="#about"><i class="fa fa-pencil"></i>About the Project</a></li>
      <li><a href="#projects"><i class="fa fa-paperclip"></i>Project Gallery</a></li>
      <li><a href="#contact"><i class="fa fa-link"></i>Contact Me</a></li>
    </ul>
  </div> <!-- .main-navigation -->
  <div class="social-icons">
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div> <!-- .social-icons -->
</div> <!-- .sidebar-menu -->

<div style="display: none" id="welcome-modal">
  <style>
    div.welcome-page {
      width: 100%;
      //border: 1px solid gray;
    }

    .welcome-page span {
      float: left;
      max-width: 300px;
      margin: 0;
      padding: 1em;
    }

    .welcome-page article {
      margin-left: 350px;
      //border-left: 1px solid gray;
      padding: 1em;
      overflow: hidden;
    }
  </style>


  <div class="welcome-page">
    <span>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </span>
    <article>
      <h1 style="font-size: 2.5em">Build this web with
        <strong
          style="color: #ffffff;
          background: #e63f3c;
          padding: 5px;
          border-radius: 5px">Angular-5
        </strong>
      </h1>
      <hr>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </article>
  </div>

</div>
<!--<div style="display: inline"><img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="></div>-->
<router-outlet></router-outlet>
