/* You can add global styles to this file, and also import other style files */
@import "~izimodal/css/iziModal.min.css";

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes mymove {
  from {
    bottom: 10px;
    background: #636e72;
  }
  to {bottom: 25px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    bottom: 10px;
    background: #636e72;
  }
  to {bottom: 25px;}
}

.notify-btn {
  /*bottom: 10px;
  right: 20px;*/
  font-size: 2em;
  width: 200px;
  height: 100px;
  padding: 17px;
  border: solid 3px #e74c3c;
  border-radius: 7px;
  border-style: ridge;
  background: #2d3436;
  color: #ffffff;
  z-index: 3;
  box-shadow: 7px 7px 12px #808080;
}

.bottom-btn {
  animation: mymove 0.8s infinite;
  animation-direction: alternate;
  -webkit-animation: mymove 0.8s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  bottom: 10px;
  right: 20px;
  position: fixed;
  font-size: 1.2em;
  width: 120px;
  height: 70px;
  padding: 7px;
  border: solid 3px #e74c3c;
  border-radius: 7px;
  border-style: ridge;
  background: #2d3436;
  color: #ffffff;
  z-index: 3;
  box-shadow: 7px 7px 12px #808080;
  transition: 0.2s;
}

.bottom-btn:hover {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
  bottom: 9px;
  right: 18px;
  background: #636e72;
  box-shadow: 3px 4px 5px #000000;
}


.btn {
  border-radius: 0;
}
.btn-default {
  background: #2c3e50;
  color: #ffffff;
  padding: 20px 40px;
}

.flat-ui-blue {
  background: #2980b9;
}

h2>span {
  color: white; /*home page head*/
}

.sidebar-menu {
  float: left;
  /*width: 19%;*/
  height: 100%;
  position: fixed;
  background-color: #5f6d7e;
  color: white;
  overflow-y: hidden;
  z-index: 10;
}
.main-content, .banner-bg {
  float: right;
  width: 82.6%;
}

.banner-overlay > div {
  height: 100%;
  background: url("assets/img/gif/ajax-loader.gif") center center no-repeat;
}
.welcome-text button:disabled {
  background: #16a085;
}

#web-loading {
  display: block;
  position: fixed;
  border: 1px solid rgba(59,64,65,0.87);
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 46, 54, 0.41);
}
#web-loading div {
  padding: 15px;
  display: block;
  position: absolute;
  width: 250px;
  height: 180px;
  border: 1px solid rgb(24, 21, 65);
  border-radius: 5px;
  top: 38%;
  left: 42%;
  background-color: rgba(255, 255, 255, 0.92);
}
.page-section p {
  font-size: 20px;
}
body {
  max-width: 1370px;
  margin: auto;
}
