/* You can add global styles to this file, and also import other style files */
@import "~izimodal/css/iziModal.min.css";

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes mymove {
  from {
    bottom: 10px;
    background: #636e72;
  }
  to {bottom: 25px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    bottom: 10px;
    background: #636e72;
  }
  to {bottom: 25px;}
}

.bottom-btn {
  animation: mymove 0.8s infinite;
  animation-direction: alternate;
  -webkit-animation: mymove 0.8s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  bottom: 10px;
  right: 20px;
  position: fixed;
  font-size: 1.2em;
  width: 120px;
  height: 70px;
  padding: 7px;
  border: solid 3px #e74c3c;
  border-radius: 7px;
  border-style: ridge;
  background: #2d3436;
  color: #ffffff;
  z-index: 3;
  box-shadow: 7px 7px 12px #808080;
  transition: 0.2s;
}

.bottom-btn:hover {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
  bottom: 9px;
  right: 18px;
  background: #636e72;
  box-shadow: 3px 4px 5px #000000;
}


.btn {
  border-radius: 0;
}
.btn-default {
  background: #2c3e50;
  color: #ffffff;
  padding: 20px 40px;
}

.flat-ui-blue {
  background: #2980b9;
}

h2>span {
  color: white; /*home page head*/
}

.sidebar-menu {
  float: left;
  width: 19%;
  height: 100%;
  position: fixed;
  background-color: #5f6d7e;
  color: white;
  overflow-y: hidden;
}
.main-content, .banner-bg {
  float: right;
  width: 81%;
}

.banner-overlay > div {
  height: 100%;
  background: url("assets/img/gif/ajax-loader.gif") center center no-repeat;
}

