<test></test>

<div class="banner-bg threeD-banner-bg" id="top">
  <div class="banner-overlay"></div>
  <div class="welcome-text">
    <h2><span>3D Graphics Programing</span> | WebGL | threeJS</h2>
    <h5>
      <a routerLink="/threeDWashingMachine" data-toggle="tooltip" title="Washing Machine Simulator | 3D Graphic programing. Build with WebGL | threeJS" class="btn btn-lg btn-default"><i class="fa fa-cube" aria-hidden="true"></i> 3D Washing Machine</a>
      <a routerLink="/threeDSolarSystem" data-toggle="tooltip" title="Solar System | 3D Graphic programing. Build with WebGL | threeJS" class="btn btn-lg btn-default"><i class="fa fa-cube" aria-hidden="true"></i> 3D Solar System</a>
    </h5>

  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="fluid-container">

    <div class="content-wrapper">

      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">LEARN ABOUT THE SECTION</h4>
            <div class="about-image">
              <img src="assets/img/editor.jpg" alt="about me">
            </div>
            <p [innerHtml]="threeContent?.aboutMe"></p>
            <hr>
          </div>
        </div> <!-- #about -->
      </div>

      <!-- PROJECTS -->
      <div class="page-section" id="projects">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">PHOTOS OF WHAT POSSIBLE IN THIS SECTION</h4>
            <p [innerHtml]="threeContent?.what_iDo"></p>
          </div>
        </div>
        <div class="row projects-holder">
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d1.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d2.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d3.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d4.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d5.png" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/3d1.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">Pellentesque porta ligula</a></h5>
                  <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .projects-holder -->
      </div>

      <app-contact></app-contact>

    </div>

  </div>
</div>
