
<div class="banner-bg" id="top" @fade>
  <div class="banner-overlay"></div>
  <div data-step="1" data-intro="Click these buttons to view some of my projects" data-position="top" class="welcome-text">
    <h2><span>Tanvir Sarker</span> | Personal Portfolio</h2>
    <h5>
      <button routerLink="/rmg" data-step="2" data-intro="Click to view ERP Garments Application Software project" data-position="top" data-placement="top" data-toggle="tooltip" title="Ready Made Garments ERP (Web Application). Build with laravel" class="btn btn-lg btn-default"><i class="fa fa-industry" aria-hidden="true"></i> RMG ERP ( PHP )</button>
      <button routerLink="/threeD" data-step="3" data-intro="Click to view project 3D graphics programing with JS | WebGL | threeJS" data-position="top" data-placement="top" data-toggle="tooltip" title="3D Graphic programing. Build with WebGL" class="btn btn-lg btn-default"><i class="fa fa-cube" aria-hidden="true"></i> 3D ( JS )</button>
      <button routerLink="/twoD" data-step="4" data-intro="Click to view project 2D graphics programing with JS | WebGL | pixiJS" data-position="top" data-placement="top" data-toggle="tooltip" title="2D Graphic programing. Build with JS" class="btn btn-lg btn-default"><i class="fa fa-square-o" aria-hidden="true"></i> 2D ( JS )</button>  &nbsp;&nbsp;|&nbsp;&nbsp;
      <button routerLink="/hobby" data-step="5" data-intro="Click to view my hobby project " data-position="top" data-placement="top" data-toggle="tooltip" title="Hobby project" class="btn btn-lg btn-default flat-ui-blue"><i class="fa fa-ravelry" aria-hidden="true"></i> Hobby</button>
    </h5>

  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content" @fade>
  <div class="fluid-container">

    <div class="content-wrapper">

      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">Learn About Me</h4>
            <div class="about-image">
              <img src="assets/img/8.jpg" alt="about me">
            </div>
            <p [innerHtml]="homeContent?.aboutMe"></p>
            <hr>
          </div>
        </div> <!-- #about -->
      </div>

      <!-- PROJECTS -->
      <div class="page-section" id="projects">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">PHOTOS OF WHAT I DO</h4>
            <p [innerHtml]="homeContent?.what_iDo"></p>
          </div>
        </div>
        <div class="row projects-holder">
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/angular-card.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">ANGULAR</a></h5>
                  <p>
                    Angular is a TypeScript-based open-source front-end web
                    application platform led by the Angular Team at
                    Google and by a community of individuals and corporations.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/laravel-logo.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">LARAVEL</a></h5>
                  <p>
                    Laravel is a free, open-source PHP web framework, created by
                    Taylor Otwell and intended for the development of web applications
                    following the model–view–controller (MVC) architectural pattern.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/codeigniter.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">CODEIGNITER</a></h5>
                  <p>
                    CodeIgniter is a powerful
                    open-source PHP framework with a very small footprint,
                    created by Rick Ellis in 2006.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/threeJS.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">ThreeJS</a></h5>
                  <p>
                    Three.js is a cross-browser JavaScript library/API
                    used to create and display animated
                    3D computer graphics in a web browser.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/python-django.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">PYTHON / DJANGO</a></h5>
                  <p>
                    Django is a high-level Python Web framework that encourages rapid
                    development and clean, pragmatic design.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="project-item">
              <img src="assets/img/profile/phooshop.jpg" alt="">
              <div class="project-hover">
                <div class="inside">
                  <h5><a href="#">PHOTOSHOP</a></h5>
                  <p>
                    Adobe Photoshop software is the industry standard in digital imaging and is used
                    worldwide for design, photography, video editing and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .projects-holder -->
      </div>

      <app-contact></app-contact>


    </div>

  </div>
</div>
